<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MyWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>jessica.website.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>jessica.website.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelfIntroController</servlet-name>
    <servlet-class>jessica.website.controller.SelfIntroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfIntroController</servlet-name>
    <url-pattern>/selfintro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HometownIntroController</servlet-name>
    <servlet-class>jessica.website.controller.HometownIntroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HometownIntroController</servlet-name>
    <url-pattern>/hometownintro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminHomeController</servlet-name>
    <servlet-class>jessica.website.controller.AdminHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeController</servlet-name>
    <url-pattern>/admin/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserController</servlet-name>
    <servlet-class>jessica.website.controller.AdminUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserDelController</servlet-name>
    <servlet-class>jessica.website.controller.AdminUserDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDelController</servlet-name>
    <url-pattern>/admin/user/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserAlterController</servlet-name>
    <servlet-class>jessica.website.controller.AdminUserAlterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserAlterController</servlet-name>
    <url-pattern>/admin/user/alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFoodController</servlet-name>
    <servlet-class>jessica.website.controller.AdminFoodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFoodController</servlet-name>
    <url-pattern>/admin/food</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFoodDelController</servlet-name>
    <servlet-class>jessica.website.controller.AdminFoodDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFoodDelController</servlet-name>
    <url-pattern>/admin/food/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFoodAddController</servlet-name>
    <servlet-class>jessica.website.controller.AdminFoodAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFoodAddController</servlet-name>
    <url-pattern>/admin/food/add</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminFoodAlterController</servlet-name>
    <servlet-class>jessica.website.controller.AdminFoodAlterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFoodAlterController</servlet-name>
    <url-pattern>/admin/food/alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCustomController</servlet-name>
    <servlet-class>jessica.website.controller.AdminCustomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCustomController</servlet-name>
    <url-pattern>/admin/custom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCustomAddController</servlet-name>
    <servlet-class>jessica.website.controller.AdminCustomAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCustomAddController</servlet-name>
    <url-pattern>/admin/custom/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCustomDelController</servlet-name>
    <servlet-class>jessica.website.controller.AdminCustomDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCustomDelController</servlet-name>
    <url-pattern>/admin/custom/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCustomAlterController</servlet-name>
    <servlet-class>jessica.website.controller.AdminCustomAlterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCustomAlterController</servlet-name>
    <url-pattern>/admin/custom/alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSkillController</servlet-name>
    <servlet-class>jessica.website.controller.AdminSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSkillController</servlet-name>
    <url-pattern>/admin/skill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSkillAddController</servlet-name>
    <servlet-class>jessica.website.controller.AdminSkillAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSkillAddController</servlet-name>
    <url-pattern>/admin/skill/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSkillDelController</servlet-name>
    <servlet-class>jessica.website.controller.AdminSkillDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSkillDelController</servlet-name>
    <url-pattern>/admin/skill/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSkillAlterController</servlet-name>
    <servlet-class>jessica.website.controller.AdminSkillAlterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSkillAlterController</servlet-name>
    <url-pattern>/admin/skill/alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAwardController</servlet-name>
    <servlet-class>jessica.website.controller.AdminAwardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAwardController</servlet-name>
    <url-pattern>/admin/award</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAwardAddController</servlet-name>
    <servlet-class>jessica.website.controller.AdminAwardAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAwardAddController</servlet-name>
    <url-pattern>/admin/award/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAwardDelController</servlet-name>
    <servlet-class>jessica.website.controller.AdminAwardDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAwardDelController</servlet-name>
    <url-pattern>/admin/award/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAwardAlterController</servlet-name>
    <servlet-class>jessica.website.controller.AdminAwardAlterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAwardAlterController</servlet-name>
    <url-pattern>/admin/award/alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>jessica.website.controller.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMessageController</servlet-name>
    <servlet-class>jessica.website.controller.AdminMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMessageController</servlet-name>
    <url-pattern>/admin/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMessageDelController</servlet-name>
    <servlet-class>jessica.website.controller.AdminMessageDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMessageDelController</servlet-name>
    <url-pattern>/admin/message/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminReplyAddController</servlet-name>
    <servlet-class>jessica.website.controller.AdminReplyAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReplyAddController</servlet-name>
    <url-pattern>/admin/reply/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminReplyAlterController</servlet-name>
    <servlet-class>jessica.website.controller.AdminReplyAlterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReplyAlterController</servlet-name>
    <url-pattern>/admin/reply/alter</url-pattern>
  </servlet-mapping>
</web-app>